/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: black;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

button {
  cursor: pointer;
  background: #b70808;
  color: white;
  border: none;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 0 10px 30px 10px;
}

button:hover {
  background: #9f3535;
}

button>span {
  font-weight: bold;
}

/******************************************
/* LAYOUT
/*******************************************/
.slots-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0;
}

.slots {
  width: 400px;
  height: 400px;
  border: 2px solid #b70808;
  margin: 0 10px;
  padding: 20px;
}

.slots>img {
  width: 80%;
  height: 300px;
}

.hidden {
  display: none;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/