/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.limg{
  position: fixed;
  height: 100vh;
  width: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
