body {
    font-family: Arial, sans-serif;
    background-color: #e70b0b;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(9, 105, 230, 0.966);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#slots {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.slot {
    font-size: 50px;
    margin: 0 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

#spinButton {
    padding: 10px 20px;
    background-color: #e0f1e4;
    border: none;
    color: rgb(228, 13, 13);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
